body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0 auto;
  height: 200px;
  width: 1000px;
  background: url("images/banner.jpg");
  background-size: cover;
}
.menu ul {
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu ul li {
  background: #343434;
  list-style-type: none;
  font-size: 25px;
  width: 250px;
  height: 60px;
}
.menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  text-decoration: none;
  color: white;
  letter-spacing: 9px;
}
.content {
  display: flex;
  justify-content: center;
}
.content .left {
  width: 200px;
  height: 500px;
  border: 1px solid black;
}
.content .left h2 {
  text-align: center;
}
.content .left label {
  cursor: pointer;
}
.content .left button {
  display: block;
  margin-top: 15px;
}
.content .middle {
  width: 600px;
  height: 800px;
  border: 1px solid black;
}
.content .middle h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
.content .middle .buttons_and_introduce {
  display: flex;
}
.content .middle .buttons_and_introduce .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 300px;
  margin-left: 50px;
}
.content .middle .buttons_and_introduce .buttons button {
  height: 60px;
  cursor: pointer;
  color: white;
  background: linear-gradient(#656565, #141414);
}
.content .middle .buttons_and_introduce .buttons button:hover {
  color: #ffeb60;
  background: linear-gradient(red, blue);
}
.content .middle .buttons_and_introduce .introduce {
  position: relative;
  margin-left: 15px;
  width: 350px;
  height: 300px;
  background-color: #582722;
  color: white;
}
.content .middle .buttons_and_introduce .introduce h3 {
  text-align: center;
}
.content .middle .buttons_and_introduce .introduce .arrow {
  position: absolute;
  left: -30px;
  top: 60px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid #582722;
}
.content .right {
  width: 200px;
  height: 500px;
  border: 1px solid black;
}
.content .right h2 {
  text-align: center;
}
.content .right table tr td img {
  width: 20px;
  height: 20px;
}
