body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0 auto;
  height: 200px;
  width: 1000px;
  background: url("../images/banner.jpg");
  background-size: cover;
}
.menu ul {
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu ul li {
  background: #343434;
  list-style-type: none;
  font-size: 25px;
  width: 250px;
  height: 60px;
}
.menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  text-decoration: none;
  color: white;
  letter-spacing: 9px;
}
.info {
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.info .attributes .attributes_top {
  height: 120px;
}
.info .attributes .attributes_top .picture_of_kael {
  float: left;
  width: 100px;
  height: 100px;
}
.info .attributes .attributes_top .name {
  font-size: 32px;
}
.info .attributes .attributes_top .name span {
  font-size: 16px;
}
.info .attributes .attributes_top .attributes_top_3D img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
.info .attributes .attributes_bottom .first_line {
  display: flex;
}
.info .attributes .attributes_bottom .second_line {
  display: flex;
}
.info .attributes .attributes_bottom .hero-stats {
  background-color: #66dd66;
  text-align: center;
  margin: 5px;
  width: 70px;
  height: 40px;
  line-height: 20px;
  font-size: 13px;
}
.abilities {
  width: 1000px;
  height: 3700px;
  border: 1px solid black;
  margin: 0 auto;
}
.abilities .tips {
  color: #66dd66;
}
.abilities img {
  width: 45px;
  margin-right: 15px;
}
.abilities .quash_wex {
  display: flex;
  justify-content: space-around;
}
.abilities .quash_wex .quash {
  width: 460px;
}
.abilities .quash_wex .wex {
  width: 460px;
}
.abilities .exort_invoke {
  display: flex;
  justify-content: space-around;
}
.abilities .exort_invoke .exort {
  width: 460px;
}
.abilities .exort_invoke .invoke {
  width: 460px;
}
